.list-inner {
    display: flex;
    justify-content: space-between;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}
.list-input {
    border: none;
}
.promotion {
    color: gold;    
}